.con-animate {
    position: relative;
    width: 85%;
    /* background: rgb(255, 255, 255); */
    /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.18); */
    height: 50px;
    overflow: hidden
}

.con-animate>div {
    display: flex;
    width: 350%;
    /* background: rgb(255, 255, 255); */

}

.con-animate>div p {
    width: 100%;
    margin-top: 0%;
}

.con-animate>.animate1 {
    position: absolute;
    left: 2px;
    animation: animate1 linear 20s infinite;
    transform: translate(0);
}

.con-animate>.animate2 {
    position: absolute;
    left: 2px;
    animation: animate2 linear 20s infinite;
    transform: translate(0);
}

@keyframes animate1 {
    from {
        transform: translate(0%)
    }

    to {
        transform: translate(-100%)
    }
}

@keyframes animate2 {
    from {
        transform: translate(100%)
    }

    to {
        transform: translate(0%)
    }
}