.homeContainerss{
    min-height: 100vh;
}
.homeTitle{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5%;
    font-weight: 350;
    color: rgb(82, 82, 82);
}

.homeTable{
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
    margin: 5%;
    margin-bottom: 1%;
    justify-content: space-around;
}